
<h1>Iniciar Sesión</h1>
<form class="form-container max-w-full">
  <div class="form-group">
    <label for="email">Correo Electrónico</label>
    <input
      [(ngModel)]="email"
      type="email"
      id="email"
      name="email"
      placeholder="Correo Electrónico"
      autocomplete="new-username"
    >
  </div>
  <div class="form-group">
    <taskly-password-input
      [label]="'Contraseña'"
      [value]="password"
      (valueChange)="password = $event"
      [autocomplete]="'password'"
      [placeholder]="'Contraseña'"
    ></taskly-password-input>
  </div>

  <div class="form-checkbox">
    <input type="checkbox"
    [(ngModel)]="rememberMe"
    (click)="rememberLogin()"
    name="rememberMe"
    id="rememberMe">
    <label for="rememberMe">Recordarme</label>

  </div>

  <div class="form-group">
    <input
    type="submit"
    (click)="login()"
    name="submit"
    id="login"
    class="btn-outline"
    value="Iniciar Sesión">


    @if (loginAttempted) {
      @if (loginSuccessful) {
        <small class="success">
          ¡Iniciaste sesión!
        </small>
      }
      @else {
        <small class="error">
          Credenciales incorrectas
        </small>
      }

    }

  </div>

  <div class="mt-4 text-center">

    <p class="mt-4">¿No tenés usuario?
      <a class="cursor-pointer text-taskly-vermilion-500 hover:text-taskly-vermilion-800"
      routerLink="/register">
      Crealo acá</a>.
    </p>
  </div>

  <div class=" text-center">

    <p>¿Olvidaste tu contraseña?
      <a class="cursor-pointer text-taskly-vermilion-500 hover:text-taskly-vermilion-800"
      routerLink="/forgot-password">
      Recuperala acá</a>.
    </p>
  </div>
</form>

