<h1>Registrate:</h1>

<form class="form-container max-w-full">
  <div  class="form-group">
    <label for="name">
      {{ placeHolder.name }}
    </label>
    <input type="text"
      [(ngModel)]="newUser.name"
      name="name"
      id="name"
      placeholder="{{ placeHolder.name }}">

    @if (missingFields && newUser.name === '') {
      <small class="text-red-500">
        Debe ingresar un nombre
      </small>
    }
  </div>

  <div  class="form-group">
    <label for="age">
      {{ placeHolder.age }}
    </label>
    <input type="number"
      [(ngModel)]="newUser.age"
      name="age"
      id="age"
      placeholder="{{ placeHolder.age }}"
      min="1"
      max="110">

    @if (missingFields && !newUser.age) {
      <small class="text-red-500">
        Debe ingresar una edad
      </small>
    }
  </div>

  <div  class="form-group">
    <label for="email">
      {{ placeHolder.email }}
    </label>
    <input type="email"
      [(ngModel)]="newUser.email"
      name="email"
      id="email"
      placeholder="{{ placeHolder.email }}">

    @if (missingFields && newUser.email === '') {
      <small class="text-red-500">
        Debe ingresar un email.
      </small>
    }
  </div>

  <div  class="form-group">
    <label for="password">
      {{ placeHolder.password }}
    </label>
    <input type="password"
      (change) = 'missMatchingPassrowds($event)'
      [(ngModel)]="newUser.password"
      name="password"
      id="password"
      placeholder="{{ placeHolder.password }}">

    @if (missingFields && confirmPassword === '') {
      <small class="text-red-500">
        Debe ingresar una contraseña.
      </small>
    }
  </div>

  <div  class="form-group">
    <label for="confirmPassword">
      {{ placeHolder.confirmPassword }}
    </label>
    <input type="password"
      (change) = 'missMatchingPassrowds($event)'
      [(ngModel)]="confirmPassword"
      name="confirmPassword"
      id="confirmPassword"
      placeholder="{{ placeHolder.confirmPassword }}">

    @if (missingFields && confirmPassword === '') {
      <small class="text-red-500">
        Debe repetir la contraseña.
      </small>
    }
  </div>

  <div class="form-group">
    <input type="submit"
    (click)="register()"
    name="submit"
    value="{{ placeHolder.submit }}"
    id="registry"
    class="btn-outline" >

    @if (missingFields) {
      <small class="text-red-500">
        {{ fillAllFields }}
      </small>
    }
    @if (errorMessage) {
      <small class="text-red-500">
        {{ errorMessage }}
      </small>
    }
  </div>

  <div class="mt-4 text-center">

    <p class="mt-4">Para iniciar sesión
      <a class="cursor-pointer text-taskly-vermilion-500 hover:text-taskly-vermilion-800"
      routerLink="/login">
      hacé click acá</a>.
    </p>
  </div>
</form>


