<div class="form-group">
  <label for="typing">
    {{ label }}
  </label>

  <div class="flex flex-row min-w-max">
    <input
      [type]="show ? 'text' : 'password'"
      [value]="value"
      autocomplete=" {{ autocomplete }} "
      (input)="onType($event)"
      placeholder="{{ placeholder }}"
      class="rounded-r-none w-full">
    <button (click)="toggleShowPassword()"
      class="bg-taskly-woodsmoke-700 rounded-sm rounded-l-none p-1 text-white w-[1rem] h-[1rem] border-l-[1px] border-solid border-red">
      @if (show) {
        <img src="/assets/heroicons-solid/eye-slash.svg"
        class="text-taskly-white"
        alt="show">
      }
      @else {
        <img src="/assets/heroicons-solid/eye.svg"
        class="text-taskly-white"
        alt="hide">
      }
    </button>
  </div>
</div>


